SECRET_KEY=change-me
DEBUG=true
GRAMEXPRESS_APP_NAME=GramExpress

# Maps
GOOGLE_MAPS_BROWSER_API_KEY=
GOOGLE_MAPS_EMBED_API_KEY=
GOOGLE_CLIENT_ID=

# Payments
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# OTP and auth
OTP_EXPIRY_MINUTES=10
DEFAULT_FROM_EMAIL=no-reply@gramexpress.local
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=true

# SMS backend: console or twilio
SMS_BACKEND=console
SMS_FROM=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
