__pycache__/
.pycache_tmp/
*.py[cod]
*.sqlite3
.env
.venv/
venv/
media/
staticfiles/
*.log
*.aux
*.out
*.toc
node_modules/
android
.idea/
winVenv
client_secret_483890392209-3mq2qcj529j2kb3nuvfuoco9lhbhopf0.apps.googleusercontent.com.json